.actions{
  border: 1px solid #DCDCDC;
  border-bottom: 0px;
  padding: 10px;

  .post-like{
    cursor: pointer;

    &.liked{
      color : #337ab7;

      .glyphicon{
        background-color: #337ab7;
        color:white;
        border-radius: 50%;
        padding: 2px;
      }
    }
  }
}