.right-sidebar{
  .suggestions{

    .users{
      clear:both;
      display:block;
      position:relative;

    }

    .header{
      margin-bottom: 5px;
      border-bottom: 1px solid #DCDCDC;
      padding: 5px;
      font-size: 18px;
    }

    .img, .name{
      padding: 5px;
    }
    .image-holder{
      overflow:hidden;
      width: 30px;
      height: 30px;
      img{
        width: 100%;
      }
    }
  }
}