html,body{
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  width: 100%;
}

.navbar{

  .navbar-default{
    margin: 0px;
  }

  .friend-requests{
    .badge{
      vertical-align: top;
    }

    .dropdown-menu{
      width: 350px;

      .request{
        .img, .accept, .text{
          padding: 5px;
        }
        img{
          width: 100%;
        }

        .accept-request,
        .delete-request{
          width: 70px;
        }

        .delete-request{
          margin-top: 5px;
        }
      }
    }

    .no-requests{
      padding: 20px;
    }

  }
}



.auth{
  margin-top: 50px;
}

.add-class{
  margin-top: 50px;
}

#message-modal{
  #message-modal-body{
    padding: 20px;
  }
}

.wrapper{
  height: 100%;
  margin-top: 50px;
  @import "imports/feed";

  @import "imports/profile";
}


