html,body{
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

.navbar-default{
  margin: 0px;
}

.auth{
  margin-top: 50px;
}

.add-class{
  margin-top: 50px;
}


@import "imports/feed";

@import "imports/profile";
