html,body{
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  width: 100%;
}

@import "imports/navbar";

.auth{
  float: none;
  margin-top: 50px;
}

#message-modal{
  #message-modal-body{
    padding: 20px;
  }
}

.bootbox-input-textarea{
  resize: none;
}

.wrapper{

  height: 100%;
  margin-top: 50px;
  @import "imports/feed/feed";

  @import "imports/profile";
  @import "imports/admin/admin";
  @import "imports/teachers";
  @import "imports/classes/classes";
  @import "imports/societies/society";
}


