.admin-sidebar, .admin-content{
  margin-top: 30px;

  .dropdown{
    margin-bottom: 20px;
  }

  .users{
    .user{
      .image-holder{
        height: 50px;
        width: 50px;
        overflow:hidden;

        img{
          width: 100%;
        }
      }
    }
  }
}