.left-sidebar{
  padding: 0px;
  .user-box{
    .dp {
      padding: 0px;
      img{
        width: 30px;
      }

    }

    .details{
      .name{
        text-decoration: none;
        color:#606060 ;
        font-size: 16px;
      }
    }
  }
}

.right-sidebar, .left-sidebar, .content{
  margin-top: 30px;
}

.right-sidebar{
  .suggestions{

    .users{
      clear:both;
      display:block;
      position:relative;

    }

    .header{
      margin-bottom: 5px;
      border-bottom: 1px solid #DCDCDC;
      padding: 5px;
      font-size: 18px;
    }

    .img, .name{
      padding: 5px;
    }
    img{
      width: 100%;
    }
  }
}

.content{

  height: 100%;

  #new_status {
    background-color: #FFF;
    border: 1px solid #DCDCDC;
    padding: 0;
    height: 170px;
    position:relative;

    #post_header {
      border-bottom: solid #E8E8E8 1px;
      margin: 0 2%;
      padding: 0.65rem 0;
      width: 95.75%;

      li {
        display: inline-block;
      }

      a {
        font-size: 1.2rem;
        padding: 1rem 0;
        text-decoration: none;
      }

      li+li {
        border-left: solid #E8E8E8 1px;
      }

      li:first-child a {
        padding: 0 1rem 0 0;
      }

      li:nth-child(2) a {
        padding: 0 1rem;
      }

      li:last-child a {
        padding: 0 0 0 1rem;
      }

      .glyphicon {
        margin-right: 0.5rem;
      }
    }

    #post_content {
      margin: 0 2%;
      padding: 0;
      width: 95.75%;

      img {
        border: solid #DDD 1px;
        margin: 1.25rem 0;
        padding: 0;
      }

      .textarea_wrap {
        cursor: text;
      }

      textarea {
        border: 0;
        margin: 0rem 0 0.5rem 0;
        outline: 0;
        padding: 2.5rem 0 0 1.25rem;
        resize: none;
      }
    }

    #post_footer {
      border-top: solid #E8E8E8 1px;
      line-height: 4rem;
      padding: 0 2% 0 3%;

      #upload-file{
        display: none;
      }

      .navbar-nav {
        padding: 0;

        li {
          display: none;

          a {
            text-decoration: none;
            display: block;
            padding: 2rem 1.25rem 2.2rem 1.25rem;
            span{
              margin-right: 10px;
            }
          }
        }

        .glyphicon {
          line-height: 0;
        }
      }

      &:not(.btn) .glyphicon {
        color: #999;
      }

      div {
        padding: 0;
        text-align: right;
      }

      .btn {
        border-radius: 2px;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2.2rem;
        margin-top: 0.75rem;
        padding: 0 0.75rem;
        vertical-align: middle;
      }

      .btn-default {
        color: #666;
        margin-right: 0.5rem;
        .glyphicon {
          color: #666;
          margin-right: 0.5rem;
        }
      }

      .caret {
        color: #666;
        margin-left: 0.5rem;
      }
      .btn-primary {
        background-color: #4e69a2;
        padding: 0 2rem;
      }
    }
  }

  .posts{
    height: 100%;
    margin-top: 30px;
    padding-bottom: 100px;

    &.no-margin{
      margin-top: 0px;
    }

    &.single-post{
      margin-top: 0px;
    }

    .pagination{
      display: none;
    }

    .post-wrap{
      margin-bottom: 20px;
      position:relative;
      .dropdown{
        display: none;
        z-index: 5;
        position:absolute;
        right: 20px;
        top: 20px;

        .dropdown-toggle{
          color:grey;
          font-size: 16px;
        }
      }

      &:hover{
        .dropdown{
          display: block;
        }
      }

      .comments{
        border: 1px solid #DCDCDC;
        height: auto;
        position: relative;
        display: block;
        overflow:auto;
        background-color:#f8f8f8;
        .comment-box{
          height: 60px;

          padding-top: 10px;
          img{
            padding: 0px;
            height: 40px;
            width: 40px;
          }

          .comment-holder {
            margin-left: 10px;
            border: 1px solid #DCDCDC;
            height: 40px;
            padding: 5px;
          }
        }

        .comment{
          .dp, .text{
            padding : 0px;
          }

          .dp{
            height : 40px;
            width: 40px;
          }

          .text{
            margin-left: 10px;
            height: 40px;
            padding: 5px;
            margin-top: 10px;
          }
        }

        .more-comment{
          margin-left: 15px;
          margin-bottom: 20px;
        }
      }
    }



    .post{
      height: auto;
      position: relative;
      display: block;
      overflow:auto;
      background-color: #FFF;
      border: 1px solid #DCDCDC;
      border-bottom: 0px;
      padding: 20px;

      .img-holder, .post-content{
        display: block;
        position:relative;
      }

      .img-holder{
        height: auto;
        display:block;
        padding: 0px;
        .user-img{
          border: solid #DDD 1px;
          padding: 0;
          height: 50px;
          width: 50px;
        }
      }

      .post-content{
        .name{
          a{
            text-decoration: none;
            font-size: 16px;
          }
        }

        .text{
          color:#606060;
          margin-top: 5px;
          margin-bottom: 10px;
        }

        .photo img{
          width: 100%;
        }
        .video video{
          width: 100%;
        }

        .link{
          a{
            color:grey;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
    }

    .actions{
      border: 1px solid #DCDCDC;
      border-bottom: 0px;
      padding: 10px;

      .post-like{
        cursor: pointer;

        &.liked{
          color : #337ab7;

          .glyphicon{
            background-color: #337ab7;
            color:white;
            border-radius: 50%;
            padding: 2px;
          }
        }
      }
    }
  }
}