
.profile-header {
  background: #e3c64c;
  background: no-repeat center center;
  background-size: cover;
  padding-top:110px;
  padding-bottom:20px;
  position: relative;

  .requests{
    float:right;
    position : absolute;
    bottom: 20px;
    right: 20px;
  }

  h2 , a , i {
    color:#fff !important;
    text-shadow: 1px 1px 1px #000;
  }

  .profile-header-content {
    .image-holder {
      border: 5px solid white;
      height : 150px;
      width: 150px;
      overflow:hidden;
      img {
        width:100%;
      }
    }

    .profile-about {
      h2{
        margin: 0px;
      }
    }
  }
}

.no-friend-alert{
  display: block;
  margin: 50px auto;
  width: 600px;
}

.profile-settings{
  padding-bottom: 100px;
  .profile-setting{
    float: none;
    margin-top: 30px;
    padding-bottom: 30px;

    .title{
      margin-top: 0px;
      text-align:center;
      margin-bottom: 30px;
    }

    .image-holder{
      width: 150px;
      height: 150px;
      overflow:hidden;
      margin-bottom: 20px;
      .profile-pic{
        width: 150px;
      }
    }
  }
}

.content{
  .profile-friends{
    background-color: #FFF;
    border: 1px solid #DCDCDC;
    padding: 20px;

    .friend{
      img{
        width: 50px;
      }
      
      a{
        text-decoration: none;
      }
    }
  }
}