.comment-box{
  height: 60px;

  padding-top: 10px;
  .col-xs-1{
    padding: 0px;

    .image-holder{
      height: 40px;
      width: 40px;
      padding: 0px;
      overflow:hidden;
      img{
        width: 100%;
      }
    }
  }

  .comment-holder {

    border: 1px solid #DCDCDC;
    height: 40px;
  }
}